.baclground

{  

	height: 680px;

	width: 100%;

	background-image: url('images/rectangle-copy.png');

	background-repeat: no-repeat;

	background-size: 100% 680px;

	 background-size: cover;

    background-attachment:fixed;

    margin: 0;

    padding: 0;



}

.navbar-custom

{

	background:0px;

	border-bottom: 0px;

	background-color: #334dcc;
	margin: 0px;
	padding: 0px;



}

.baclground .navbar-brand

{

	color: #d6dbf5;

	font-family:  Lato;

	font-size: 18px;

	font-weight: 700px;

	line-height: 22px;


}
.position
{
	position: relative;
}
.redimat
{
	position: absolute;
	top: 100px;
	left: 1090px;
	font-size: 30px;
	border-radius: 0 3px 3px 0;
	background-color: #fff;
	height: 100px;
	width: 45px;
	padding-top: 35px;
	text-align: center;
	box-shadow: 0 1px 3px #888;
	color: #aaa;
}
.previnc
{
	position:absolute;
	top: 100px;
	left: -65px;
	font-size: 30px;
	border-radius: 0 3px 3px 0;
	background-color: #fff;
	height: 100px;
	width: 45px;
	color: #aaa;
	padding-top: 35px;
	text-align: center;
	box-shadow: 0 1px 3px #888;
}
 .baclground .navbar-brand:hover

 {

 	color:  #d6dbf5;

 }

.baclground .navbar-nav li a

{

	color: #adb8eb;

	font-family:Bogle-Regular; 

	font-size: 16px;

	font-weight: 400px;

	line-height: 21px;

}
.baclground .sjcjcjdd
{
	color: #adb8eb;
  font-family: Lato;
  font-size: 14px;
  font-weight:bold;
  padding-left: 25px;
  margin-top: -5px;
  line-height: 17px;
}
.baclground .sdskkck
{
	color: #adb8eb;
  font-family: Lato;
  font-size: 14px;
  font-weight:bold;
  line-height: 17px;
  padding-left: 80px;
  margin-top: -5px;
  line-height: 17px;
}

.baclground .navbar-nav li a:hover

{

	border-bottom: ridge;

	color: #adb8eb;

	border-bottom-color: solid #d9bb26;

}



.carousel-control.left

{

	margin-left: 78%;

	width: 18%;

	height: 10%;

	margin-top: 35%;

	background: 0px;	

}

.carousel-control.right

{

	height:15%;

	width: 10%;

	margin-top: 35%;

	background: 0px;

}


.prod

{

	background-color: #fff;



}

.abutus

{

	background: linear-gradient(180deg, #E9ECFC, #FFFFFF);

}

.footer

{

	 background-image: url('images/rectangle-copy-7.png');

}

.txt

{

	height: 40px;

	width: 55%;

	margin-left: 40%;

	margin-bottom: 15px;

	background-image: url('images/rectangle.png');

	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);

	 background: #242b42;
}


.red

{

	height: 84px;

	width: 55%;

	background: #242b42;	

	 box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);

	 margin-left: 40%;

	 background-image: url('images/rectangle-copy-11.png');
	 background-repeat: no-repeat;
	 background-size: 65% 84px;

}

  

/*.skider

{

	height: 20%;

	width: 7%;

	margin-left: 90%;

	margin-top: -15%;

}*/

.copyright

{

	height: 36px;

    width: 100%;

	background: #303550;

    color: #858bad;

    font-family:Bogle-Regular;

    font-size: 14px;

	font-weight: 400;

	line-height: 19px;

    padding-top: 10px;

	padding-left: 100px;

}

.carousel-control .glyphicon-chevron-left
{
	top: 0px! important;
}
.carousel-control .glyphicon-chevron-right
{
	top: 0px! important;
}
@media(max-width: 1200px)

{

	.baclground .pull-right

	{

		float: none! important	;

	}

}



@media screen and (max-width: 576px)

{

	.panding .btn-default

	{

		display: none;

	}

}

@media screen and (min-width: 320px)

{

	.panding h1

	{

		font-size: 4vw !important;

	}

}

@media screen and (max-width: 576px)

{

	.panding p

	{

		display: none;

	}

}

@media screen and (max-width: 320px)

{

	.panding .btn-warning

	{

		margin-left: 80px;

	}

}

@media screen and (max-width: 320px)

{

	.footer

	{

		display: none;

	}

}

@media screen and (max-width: 768px)

{

	.floateft img 

	{

		margin-left: 0px !important;

		float: left! important;

	}

}



@media screen and (max-width: 768px)

{

	.abcde img

	{

		margin-left: 0px !important;

		float: left! important;

		

	}

}



@media screen and (max-width: 768px)

{

	.abcde

	{

		margin-top: -45px;

	}

}

/*@media screen and (max-width: 320px)

{

	.row

	{

		margin-left: 0px !important;

		margin-right: 0px ! important;

	}

}*/

@media screen and (max-width: 768px)

{

	.leading img

	{

		height: 200px! important;

		width: 300px! important;

		margin-top: 0px! important;

	}

}
@media screen and (max-width: 768px)

{

	.footer .txt

	{

		height: 40px! important;

		width: 100%! important;

		margin-left: 0px! important;

		

	}

}
@media screen and (max-width: 768px)
{
	.footer .valum
	{
		padding-left: 0px! important;
	}
	.footer .veding
	{
		padding-left: 0px! important;
	}
	.footer .reding
	{
		padding-left: 0px! important;
	}
	.footer .caling
	{
		padding-left: 0px! important;
	}
}
@media screen and (max-width: 768px)

{

	.footer .red

	{

		height: 84px! important;

		width: 100%! important;

		margin-left: 0px! important;

		

	}
	.footer .btn-primary
	{
		margin-left: 0px! important;
	}

}

/*@media screen and (max-width: 768px)
{
	.prod img
	{
		margin-bottom: 15px;
	}
}*/
@media screen and (max-width: 768px)
{
	.abutus p
	{
		padding-top: 10px !important;
		font-size: 13px !important;
	}
}

@media screen and (max-width: 768px)

{

	.previnc

	{

		display: none;

	}
	.redimat
	{
		display: none;
	}
	.baclground .sdskkck
	{
		display: none;
	}

    .baclground .sjcjcjdd
    {
    	display: none;
    }


}
@media screen and (max-width: 320px)

{

	.panding h1

	{

		padding-left: 30px !important;
		
	}

}
@media screen and (max-width: 320px)

{

	.panding h1

	{

		
		font-size: 20px ! important;

	}

}
